* {display:block;}

docImprint {background: yellow;}

lb {line-height: 20px;}

[rendition="center"] {text-align: center;}

[rendition="x-large"]  {font-size: 200%;}

[rendition="uppercase"] {text-transform: uppercase;}

[rendition="small"] {font-size: 100%;}

[rendition="red"] {color: red;}

[rendition="xx-large"] {font-size: 250%;}

[rendition="expanded"] {letter-spacing: 3px;}



