h2.tl-headline a {
  font-family: 'IM Fell English SC', serif;
  color: #004663 !important;
}
h2.tl-headline {
  font-family: 'IM Fell English SC', serif;
  color: #004663;
}
h3.tl-headline-date {
  padding-bottom: 10px;
}

