h2.tl-headline a {
  font-size: 16px !important;
  font-family: 'IM Fell English SC', serif !important;
  color: #004663 !important;
}
h2.tl-headline {
  font-size: 16px !important;
  font-family: 'IM Fell English SC', serif !important;
  color: #004663 !important;
}
